
@font-face{
	font-family: "varela";
	src: url('../fonts/VarelaRound-Regular.otf') format('opentype');
}

@font-face{
	font-family: "railway";
	src: url('../fonts/Railway.otf') format('opentype');
}



